@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-destak: #4463B5;
    --font-title: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
    --color-title: #FF6978;
    --color-subtitle: #FFFFFF;
    --color-other: #371324;
    --color-other1: #151415;
* {
    margin: 0;
    list-style: none;
}

}
header 
{
    height: 800px;
}

header::before{
    content: "";
    background-image: url("../images/header.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    top: 0;
    left:0;
}

header h1 {
    color: #FF6978;
    font-size: 56px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    margin-left: 10%;
    margin-top: 10%;
}

header h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 15%;
    
}
#secao-apresentacao {
    display: flex;
    padding: 4rem;
    align-items: center;
/* 1rem = 16px*/
    
}
#secao-apresentacao img{
    border-radius: 100%;
}

#texto-apresentacao h2 {
    color: var(--color-destak);
    font-size: 2.5rem;
    font-family: var(--font-title);

}

#texto-apresentacao p {
    color: var(--color-other1);
    font-size: 1.5rem;
    font-family: var(--font-body);
}

#secao-projetos {
    background-color: #000000;
    height: 100vh;
}

#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}


.card {
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity .5s;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s, top .5s;
}

.card:hover .card-text {
    opacity: 1;
    top: 10%;
}

.card:hover .image-wrapper{
    opacity: .30;
}


.card-text h2 {
    font-size: 2rem;
    color:rgb(255, 255, 255)
}

.card-text p {
    font-size: 1.2rem;
    color:antiquewhite
}

#secao-orcamento {
    height: 100vh;
    padding: 3rem;
}

#secao-orcamento h2 {
    font-family: var(--font-title);
}

#secao-orcamento form{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    max-width: 250px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
}

.linha {
    grid-column: 1/3;
}

input[type=radio],
input[type=checkbox],
input[type=range] {
    accent-color: var(--color-destak);
}