@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-destak: #4463B5;
    --font-title: "Montserrat", sans-serif;
    --font-body: "Poppins", sans-serif;
    --color-title: #FF6978;
    --color-subtitle: #FFFFFF;
    --color-other: #371324;
    --color-other1: #151415;
* {
    margin: 0;
    list-style: none;
}

}
header 
{
    height: 100vh;
    margin-bottom: -9%;
}

header::before{
    content: "";
    background-image: url("../images/header.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    top: 0;
    left:0;
}

header h1 {
    color: #FF6978;
    font-size: 56px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    display: block;
    margin-left: 100px;
    margin-top: -15px;
}

header h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-left: 15px;
    
}
#secao-apresentacao {
    display: grid;
    gap: 2rem;
    padding: 3rem;

/* 1rem = 16px*/
    background-color:#06010a;
    
}
#secao-apresentacao img{
    border-radius: 100%;
}

#texto-apresentacao h2 {
    color: var(--color-subtitle);
    font-size: 2.5rem;
    font-family: var(--font-title);

}

#texto-apresentacao p {
    color: rgb(202, 212, 196);
    font-size: 1.5rem;
    font-family: var(--font-body);
}

#secao-projetos {
    background-color: #06010a;
    height: 420px;
}

#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}


.card {
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity .5s;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s, top .5s;
}

.card:hover .card-text {
    opacity: 1;
    top: 10%;
}

.card:hover .image-wrapper{
    opacity: .30;
}


.card-text h2 {
    font-size: 2rem;
    color:#ffffff
}

.card-text p {
    font-size: 1.2rem;
    color:antiquewhite
}

#secao-orcamento {
    height: 150px;
    padding: 4rem;
    background-color:#06010a;
}

#secao-orcamento h2 {
    font-family: var(--font-title);
    color: #FFFFFF;
    font-size: 30px;
}

#secao-orcamento form{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
    margin: 0 auto;
}

.campo {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #FFFFFF
    
}

.linha {
    grid-column: 1/3;
    font-size: 20px;
    color: #FFFFFF
}
.linha select{
    height: 25px;
    width: 100px;
}
input[type=radio] {
    accent-color: var(--color-destak);
    width: 50px;
    height: 20px;

}

.campo select {
    height: 30px;
    width: 100px;
}

#valor {
    font-size: 25px;
    color: #3cff00;
}




